---
---

@import "{{ site.theme }}";

header{
  display:none
}

footer{
  display:none
}

section{
  float:none
}

.wrapper {
    display: flex;
    justify-content: center;
}

.bilder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    height: 300px;
    padding: 10px;
}
